

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
}
.navbar-brand {float:none;}

.form-control{
    width: 20%;
}